body {
    margin: 0;
    /* font-family: Arial; */
    font-size: 17px;
  }
  

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
.menu {
    height: 80px;
    position: fixed;
    background: rgba(248, 243, 243, 0.3);
    width: 100%;
    padding: 20px;
    margin-top: 0px;
    /* display: flex;
    float: left; */
    z-index: 1;

}
.menu .logo{
    margin-left: 120px;
}
.menu .logo .cst{
    text-decoration: none;
    line-height: 80px;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffff;
    font-weight: bold;
    z-index: 2;
    min-width: 30%;
    box-sizing: border-box;
}
.logo .cst em{
    font-weight: bold;
    color: red;
}
.menu .nav{
   float: right;
   margin-right: 80px;
   margin-top: 0px;
   padding-top: 0px;
   line-height: 80px;
   min-width: 50%;
   box-sizing: border-box;
   
}

.nav > li{
   display:  inline-block;

}
.nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 80px;
    padding: 0 15px;
    display: block;
    font-weight: bold;
}
.nav >li:hover > a{
    color: red;
}
.nav .log{
    box-sizing: border-box;
    background-color: rgb(187, 25, 65);
}
.content {
    position: fixed;
    padding-top: 95.5px;
    background: rgba(35, 45, 57, 0.8);
    width: 100%;
    height :720px;
}
